<html>
<head></head>
<body>


<p>
  <strong>Title</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image Url:</strong>
  <%= @product.image_url %>
</p>
<p>
  <strong>Price:</strong>
    <% if I18n.locale.to_s == "es" %>
    	<%= @product.price * 0.88 %>
  	<%else %>
  		<%= @product.price %>
	<% end %>
</p>
<p>
  <strong>Locale:</strong>
  <%= @product.locale %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</body>
</html>
